header {
    position: relative;
    background: linear-gradient(to bottom, #100f0f, #000000);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    @include flex(none,space-between,center,none);
    font-family: $font1;
  
    nav {
      display: flex;
      margin-top: 10px;
  
      a {
        margin: 0 15px;
        padding: 10px;
        border-radius: 4px;
        text-decoration: none;
        color: white;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  
    .carritopng {
      width: 50px;
      transition: transform 0.3s ease;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  
    .logo img {
      width: 80px;
      transition: transform 0.3s ease;
  
      &:hover {
        transform: rotate(10deg);
      }
    }
  
    .cart-button {
      padding: 10px 20px;
      border-radius: 4px;
      text-decoration: none;
      font-family: $font1;
    }
}