.quienes-somos {
    justify-items: normal;
    text-align: center;
    padding: 60px 0;
    border: 1px solid black;
    border-radius: 10px;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: #333;
    }
  
    .textoindex {
      font-size: 20px;
      font-family: $font2;
      margin-right: 120px;
      margin-left: 120px;
    }
}


.carousel{
  width: 80%;
  margin: auto;
}
.carousel-control-prev,
.carousel-control-next {
    filter: none;
}
  
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

