body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: $font1;
    background-image: url("/assets/imagens/back.png");
    background-size: contain;
}

main {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}