@media (max-width: 480px) {
    body{
      background: radial-gradient(ellipse at center, #ffffff, #c0c0c0);
      box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1);
    }
    header {
      flex-direction: column;
      padding: 10px; /* Ajusta el espacio entre elementos */
    }
  
    .logo {
      order: 1;
      margin-bottom: 10px;
    }
  
    nav {
      order: 3; 
      margin-top: 0;
      text-align: center;
    }
  
    .carritopng {
      order: 2; 
      width: 50px; 
      margin-top: 10px;
    }
  
    .paginas {
      margin: 0; 
    }
  
    nav a {
      display: block; 
      margin: 10px 0; 
    }
    main{
        width: 80%;
        padding: 5px;
        font-size: 10px;
    }
    .Catalogo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
    }
    /*Index*/
    .quienes-somos .textoindex {
      font-size: 15px;
      font-family: "sans-serif";
  }
  }

  


