@media (max-width: 768px){
    .quienes-somos{
        background: radial-gradient(ellipse at center, #ffffff, #c0c0c0);
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1);
    }
    .texto-index{
        background: radial-gradient(ellipse at center, #ffffff, #c0c0c0);
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1);
    }
}